.main-content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}

.upload-form {
    width: 582px;
    height: 569px;
    padding: 0;
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
    background: url("../../img/logo-background-1.jpg") center;
    border: 0;
}

.upload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.8);
    border: none;
    overflow: auto;
}

.upload-image {
    width: 582px;
    height: 569px;
    position: relative;
    z-index: 1;

    background: url("../../img/logo-mask.png") no-repeat center;
}

.upload-effect {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.upload-effect__container {
    position: relative;
}

.upload-effect-preview {
    background-image: url('../../img/upload-default-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.upload-effect-label-chrome .upload-effect-preview,
.effect-chrome {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.upload-effect-label-sepia .upload-effect-preview,
.effect-sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.upload-effect-label-marvin .upload-effect-preview,
.effect-marvin {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.upload-effect-label-phobos .upload-effect-preview,
.effect-phobos {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.upload-effect-label-heat .upload-effect-preview,
.effect-heat {
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

.upload-input {
    visibility: hidden;
}

.upload-control {
    position: absolute;
    top: 193px;
    left: 202px;

    box-sizing: border-box;
    width: 182px;
    height: 182px;
    margin: 0;
    padding: 0;

    background: url("../../img/upload-button.png") center no-repeat;
    border: none;
    cursor: pointer;

    transition: transform 0.5s
}

.upload-control:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.upload-image .upload-submit {
    background-image: url("../../img/upload-button.png");
}

.upload-file {
    display: block;
}

.upload-image .upload-submit {
    display: none;
}

.upload-input-hasvalue + .upload-file {
    display: none;
}

.upload-input-hasvalue + .upload-file + .upload-submit {
    display: block;
}

.upload-form-controls {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 0;

    margin: 0;
    padding: 10px;

    border: 0;
}

.upload-form-cancel {
    display: block;
    width: 42px;
    height: 42px;
    padding: 0;

    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;

    border: 0;
    border-radius: 2px;

    background: rgba(255, 255, 255, 0.2) url("../../img/icon-cross.png") center no-repeat;
}

.upload-form-cancel:active {
    transform: translateY(1px);
}

/* Кадрирование */
.upload-resize-controls {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    border: 0;
}

.upload-resize-control {
    width: 33px;
    height: 33px;
    margin: 0;
    padding: 0;

    font: 700 20px/33px "Open Sans";
    color: #fff;
    text-align: center;
    vertical-align: top;

    background: rgba(0, 0, 0, 0.56);
    border: 0;
}

.upload-resize-controls-value {
    width: 60px;

    font-size: 16px;

    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 1px;
}

.upload-resize-controls-button:active {
    transform: translateY(1px);
}

.upload-resize-controls-button-dec {
    line-height: 20px;

    border-radius: 50% 0 0 50%;
}

.upload-resize-controls-button-inc {
    border-radius: 0 50% 50% 0;
}

/* Эффекты */
.upload-effect-controls {
    position: relative;

    width: 470px;
    margin: 10px auto 30px;
    padding: 0;

    font-size: 12px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;

    border: 0;
}

.effect-image-preview {
    vertical-align: middle;
}

.upload-effect-controls input[type=radio] {
    position: absolute;

    visibility: hidden;
}

.upload-effect-label {
    display: inline-block;
    margin: 0 5px;

    font: 14px "Open Sans Condensed";
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    cursor: pointer;
}

.upload-effect-label:hover,
input[type=radio]:checked + .upload-effect-label {
    color: #ffe753;
}

input[type=radio]:checked + .upload-effect-label .upload-effect-preview {
    border-color: #ffe753;
}

/* Превью */
.upload-effect-preview {
    display: block;
    width: 70px;
    height: 70px;

    overflow: hidden;
    background-size: 100% auto;
    background-position: center;
    border: solid 4px transparent;
    border-radius: 5px;

    margin-bottom: 5px;
}

/* Слайдер. Регулировка глубины фильтра */
.upload-effect-level {
    width: 495px;
    height: 33px;

    box-sizing: border-box;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 33px;
}

.upload-effect-level-line {
    height: 5px;

    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(255, 231, 81, 0.4);
}

.upload-effect-level-pin {
    width: 18px;
    height: 18px;

    position: absolute;
    left: 20%;
    top: 50%;

    margin: -9px 0 0;

    background: #ffe753;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: move;
}

.upload-effect-level-val {
    width: 20%;
    height: 100%;

    position: absolute;

    background: #ffe753;
}

/* Хэш-теги */
.upload-form-hashtags {
    width: 470px;

    font: 18px "Open Sans";
    color: #9a9a9a;

    display: block;
    margin: 0 auto 30px;
    padding: 8px 10px;

    border-radius: 5px;
}

.upload-form-hashtags:focus {
    color: #000;
}

/* Описание */
.upload-form-description {
    width: 470px;
    height: 4em;

    font: 14px "Open Sans";
    color: #9a9a9a;

    display: block;
    margin: 0 auto 30px;
    padding: 20px 10px;

    border-radius: 5px;
}

.upload-form-description:focus {
    color: #000;
}

/* Кнопка отправки */
.upload-form-submit {
    padding: 0 20px;
    margin-bottom: 30px;

    font: 14px "Open Sans";
    font-weight: 900;
    color: #ffe753;
    text-transform: uppercase;
    letter-spacing: 1px;

    line-height: 46px;
    text-align: center;

    background: rgba(255, 231, 82, 0.2);
    border: 0;
    border-radius: 4px;
}

.upload-form-submit:active {
    transform: translateY(1px);
}

.upload-form-submit:disabled,
.upload-form-submit-disabled {
    opacity: 0.3;
}

/* Сообщение об ошибке */
.upload-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    box-sizing: border-box;
    padding: 20px;

    font-weight: 500;
    font-size: 20px;
    line-height: 569px;
    text-align: center;
    color: #ffe753;

    background: #3c3614;
}

.upload-message a {
    color: #ffe753;
}

.upload-message-error {
    color: #e16567;

    border: solid 5px rgb(130, 30, 0);
}

.upload-message-error a {
    color: #e16567;
}

.upload-message-container {
    display: inline-block;

    line-height: 1.2;
    vertical-align: middle;
}
