.footer .center-wrapper {
    display: flex;
    width: 100%;
}
.footer {
    right: 10px;
    bottom: 0;
    left: 10px;

    box-sizing: border-box;
    height: 115px;
    padding: 20px 0 40px;

    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;

    border-top: solid 1px #cccccc;
}

.footer .center-wrapper {
    display: flex;
    width: 100%;
}

.footer a {
    color: #ffffff;
}

.footer-logo,
.footer-social {
    flex-basis: 50%;
    width: 50%;
}

.footer-logo {
    position: relative;

    padding-top: 55px;
}

.footer-logo-link:hover {
    opacity: 0.6;
}

.footer-logo-image {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-social {
    text-align: right;
}

.footer-social-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    overflow: hidden;

    list-style: none;
    font-size: 0;
    vertical-align: top;
    text-indent: -1999em;

    background: url("../../img/social-sprite.png") no-repeat;
    opacity: 0.6;
}

.footer-social-item:hover {
    opacity: 1;
}



.footer-social-item-instagram {
    background-position: -28px 0;
}

.footer-social-item-facebook {
    background-position: -56px 0;
}

.footer-social-item-vk {
    background-position: -84px 0;
}
